/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0em solid black;
  margin-bottom: 0em;
  padding: 2em 0 0 0;
  height: 75px;
  position: relative;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body { 
  background: #ffffff url("/images/brushed.png") repeat;
  border-top: 0.3em solid #000000; /* 8C1515 */
  line-height: 1.42857143;
}

.stretch {
  background-color: white;
  width: 100%;
}

.login-button {
  line-height: 2.2em !important;
}