<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to My AngularJS Project</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <div ng-app="appForm">
      <h1>Tell us what you need</h1>
      <div ng-controller="MyControl as main">
          <p ng-repeat="greeting in main.greetings">{{ greeting.text }}</p>
          <pre>Greeting: {{ main | json }}</pre>
          <pre>List: {{ greeting.list }}</pre>
      </div>
      <div ng-controller="PostControl as post">
          <form ng-submit="post.addGreeting(post.newGreeting)">
              <input type="text" ng-model="post.newGreeting">
              <button type="submit">Add Message</button>
          </form>
      </div>
    </div>
  </body>
</html>