<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript">
        console.log('Start portal');
    </script>
</head>

<body>

    <div class="container-fluid">
    
    <div class="row">
        
        <div class="col-md-12">
            
            <div ng-controller="PortalController">

                <div class="alert alert-success" role="alert"><p>Welcome to the Portal, {{ user.name }}!</p></div>
                
                <h1>Hi, {{ user.name }}!</h1>

                <h3>How can we help you?</h3>

                <form method="POST">
                <div class="form-group">

                    <!--<div class="radio">
                        <label>
                        <input type="radio" ng-model="content.type" value="Problem" name="problem" id="radio1" checked>
                        I have a Problem
                        </label>
                    </div>-->

                    <div class="radio">
                        <label>
                        <input type="radio" ng-model="content.type" value="Incident" name="incident" id="radio2">
                        I would like to report an Incident
                        </label>
                    </div>

                    <!--<div class="radio">
                        <label>
                        <input type="radio" ng-model="content.type" value="Request" name="request" id="radio3">
                        I have a Request
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                        <input type="radio" ng-model="content.type" value="Defect" name="defect" id="radio4">
                        I found a Defect
                        </label>
                    </div>-->
                    
                    <div ng-controller="TinyMceController">
                        <label class="sr-only" for="content.description">Describe your needs</label>
                        <textarea data-ui-tinymce id="tinymce1" ng-model="content.description" name="content.description" ng-maxlength="1000" rows="5"></textarea>
                    </div>

                    <br>
    
                    <a href="/#!/preview" class="btn btn-primary form-control input-lg login-button">Preview</a>

                </form>

            </div>

        </div>

    </div>

    </div>

</body>
</html>